.min-vh-100 {
  min-height: 100vh;
}

.btn-success {
  background-color: #198754;
  border-color: #198754;
}

.btn-warning {
  background-color: #fd7e14;
  border-color: #fd7e14;
  color: white;
}

.btn-warning:hover {
  background-color: #e66a0a;
  border-color: #e66a0a;
  color: white;
}